/Arbitro.class
/Calendario.class
/Clasificacion.class
/Entrenador.class
/Equipo.class
/EquipoClasificacion.class
/Jornada.class
/Jornadas.class
/Jugador.class
/Liga.class
/Partido.class
/Persona.class
/Principal.class
/Prueba.class
/generadResultado.class
